[
  {
    "entry": 0.3557,
    "stop": 0.3386,
    "type": "LONG",
    "tp1": 0.377,
    "tp2": 0.394,
    "tp3": 0.53,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "HEIUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/BsWz1SpL/",
    "interval": "1h"
  },
  {
    "entry": 0.3336,
    "stop": 0.3545,
    "type": "SHORT",
    "tp1": 0.3117,
    "tp2": 0.2733,
    "tp3": 0.2287,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "HEIUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/BsWz1SpL/",
    "interval": "1h"
  },
  {
    "entry": 0.1345,
    "stop": 0.1101,
    "type": "LONG",
    "tp1": 0.1654,
    "tp2": 0.2539,
    "tp3": 0.5047,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "ELXUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/KCki0TiJ/",
    "interval": "1h"
  },
  {
    "entry": 0.1081,
    "stop": 0.1237,
    "type": "SHORT",
    "tp1": 0.0948,
    "tp2": 0.0817,
    "tp3": null,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "ELXUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/KCki0TiJ/",
    "interval": "1h"
  },
  {
    "entry": 0.17984,
    "stop": 0.15304,
    "type": "LONG",
    "tp1": 0.21152,
    "tp2": 0.23624,
    "tp3": 0.27769,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "OBOLUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/M1SW8tNA/",
    "interval": "1h"
  },
  {
    "entry": 0.14543,
    "stop": 0.16285,
    "type": "SHORT",
    "tp1": 0.1295,
    "tp2": 0.1216,
    "tp3": 0.11209,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "OBOLUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/M1SW8tNA/",
    "interval": "1h"
  },
  {
    "entry": 0.6723,
    "stop": 0.6245,
    "type": "LONG",
    "tp1": 0.7282,
    "tp2": 0.7825,
    "tp3": 0.8351,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "DYDXUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "lateralizacao+entradaPOC",
    "url_analysis": "https://www.tradingview.com/x/MvFBERyi/",
    "interval": "1h"
  },
  {
    "entry": 0.6245,
    "stop": 0.663,
    "type": "SHORT",
    "tp1": 0.5566,
    "tp2": 0.4975,
    "tp3": null,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "DYDXUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "lateralizacao+entradaPOC",
    "url_analysis": "https://www.tradingview.com/x/MoqcyJTg/",
    "interval": "1h"
  },
  {
    "entry": 5.93,
    "stop": 5.572,
    "type": "LONG",
    "tp1": 6.33,
    "tp2": 6.99,
    "tp3": 8.297,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "PROMUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/il5Nfu7R/",
    "interval": "1h"
  },
  {
    "entry": 5.263,
    "stop": 5.7,
    "type": "SHORT",
    "tp1": 4.835,
    "tp2": 4.426,
    "tp3": 3.33,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "PROMUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/7C4fCI7e/",
    "interval": "1h"
  },
  {
    "entry": 13.806,
    "stop": 12.791,
    "type": "LONG",
    "tp1": 14.954,
    "tp2": 19.1,
    "tp3": 36,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "TRUMPUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/WjHvT685/",
    "interval": "1h"
  },
  {
    "entry": 12.091,
    "stop": 13.397,
    "type": "SHORT",
    "tp1": 10.85,
    "tp2": 8.54,
    "tp3": 7.23,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "TRUMPUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/YKpPbosI/",
    "interval": "1h"
  },
  {
    "entry": 0.12438,
    "stop": 0.11724,
    "type": "LONG",
    "tp1": 0.13237,
    "tp2": 0.1377,
    "tp3": 0.1553,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "FISUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/baLqleOx/",
    "interval": "1h"
  },
  {
    "entry": 0.1146,
    "stop": 0.11962,
    "type": "SHORT",
    "tp1": 0.1089,
    "tp2": 0.106,
    "tp3": null,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "FISUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/8EylY7Dt/",
    "interval": "1h"
  },
  {
    "entry": 0.60331,
    "stop": 0.57729,
    "type": "LONG",
    "tp1": 0.6315,
    "tp2": 0.6615,
    "tp3": 0.702,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "AUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/8tEkN1IW/",
    "interval": "1h"
  },
  {
    "entry": 0.57274,
    "stop": 0.60273,
    "type": "SHORT",
    "tp1": 0.5504,
    "tp2": 0.5201,
    "tp3": null,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "AUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/ruFaGzNa/",
    "interval": "1h"
  },
  {
    "entry": 0.0243,
    "stop": 0.0219,
    "type": "LONG",
    "tp1": 0.0269,
    "tp2": 0.0293,
    "tp3": 0.0334,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "GPSUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/epRep6OI/",
    "interval": "1h"
  },
  {
    "entry": 0.0192,
    "stop": 0.0213,
    "type": "SHORT",
    "tp1": 0.0172,
    "tp2": 0.0165,
    "tp3": 0.0152,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "GPSUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/Q0VTi9Ij/",
    "interval": "1h"
  },
  {
    "entry": 0.006799,
    "stop": 0.006169,
    "type": "LONG",
    "tp1": 0.007568,
    "tp2": 0.008953,
    "tp3": 0.02517,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "BEAMUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/Vu1Z0TXo/",
    "interval": "1h"
  },
  {
    "entry": 0.006081,
    "stop": 0.006734,
    "type": "SHORT",
    "tp1": 0.005444,
    "tp2": 0.004865,
    "tp3": null,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "BEAMUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/Vu1Z0TXo/",
    "interval": "1h"
  },
  {
    "entry": 12.436,
    "stop": 11.347,
    "type": "LONG",
    "tp1": 13.683,
    "tp2": 15.59,
    "tp3": 43.44,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "AUCTIONUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/jJSn1SDa/",
    "interval": "1h"
  },
  {
    "entry": 11.258,
    "stop": 11.682,
    "type": "SHORT",
    "tp1": 10.763,
    "tp2": 10.315,
    "tp3": 9.13,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "AUCTIONUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/jJSn1SDa/",
    "interval": "1h"
  },
  {
    "entry": 23.621,
    "stop": 18.044,
    "type": "LONG",
    "tp1": 31.08,
    "tp2": 40.977,
    "tp3": 53.26,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "AVAXUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/W9ooutOl/",
    "interval": "1h"
  },
  {
    "entry": 17.905,
    "stop": 19.962,
    "type": "SHORT",
    "tp1": 15.56,
    "tp2": 11.643,
    "tp3": null,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "AVAXUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/nHV14ecC/",
    "interval": "1h"
  },
  {
    "entry": 0.1539,
    "stop": 0.1448,
    "type": "LONG",
    "tp1": 0.163,
    "tp2": 0.18,
    "tp3": 0.25,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "ASRRUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/4trcAr1c/",
    "interval": "1h"
  },
  {
    "entry": 0.1412,
    "stop": 0.1488,
    "type": "SHORT",
    "tp1": 0.1336,
    "tp2": 0.1298,
    "tp3": 0.12,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "ASRRUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/4trcAr1c/",
    "interval": "1h"
  },
  {
    "entry": 0.97983,
    "stop": 0.8907,
    "type": "LONG",
    "tp1": 1.06896,
    "tp2": 1.11286,
    "tp3": 1.24985,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "NXPCUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/vgBBwGno/",
    "interval": "1h"
  },
  {
    "entry": 0.86605,
    "stop": 0.92625,
    "type": "SHORT",
    "tp1": 0.80585,
    "tp2": 0.77575,
    "tp3": 0.74565,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "NXPCUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/vgBBwGno/",
    "interval": "1h"
  },
  {
    "entry": 0.00567,
    "stop": 0.00517,
    "type": "LONG",
    "tp1": 0.00617,
    "tp2": 0.00778,
    "tp3": 0.00937,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "GORKUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/02BclOOb/",
    "interval": "1h"
  },
  {
    "entry": 0.00491,
    "stop": 0.00563,
    "type": "SHORT",
    "tp1": 0.00419,
    "tp2": 0.00383,
    "tp3": 0.00311,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "GORKUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/qcoEasRC/",
    "interval": "1h"
  },
  {
    "entry": 0.04628,
    "stop": 0.04069,
    "type": "LONG",
    "tp1": 0.05187,
    "tp2": 0.058,
    "tp3": 0.06198,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "ACTUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/2ahh1wy7/",
    "interval": "1h"
  },
  {
    "entry": 0.03726,
    "stop": 0.04219,
    "type": "SHORT",
    "tp1": 0.03233,
    "tp2": 0.02987,
    "tp3": 0.02494,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "ACTUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/3Hji4wMh/",
    "interval": "1h"
  },
  {
    "entry": 0.08753,
    "stop": 0.08278,
    "type": "LONG",
    "tp1": 0.09228,
    "tp2": 0.102,
    "tp3": 0.13,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "BMTUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/OIDXaOdo/",
    "interval": "1h"
  },
  {
    "entry": 0.08176,
    "stop": 0.08643,
    "type": "SHORT",
    "tp1": 0.07709,
    "tp2": 0.07475,
    "tp3": 0.07008,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "BMTUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/XLUZ2tfB/",
    "interval": "1h"
  },
  {
    "entry": 0.00485,
    "stop": 0.00427,
    "type": "LONG",
    "tp1": 0.00543,
    "tp2": 0.00591,
    "tp3": 0.00748,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "EPTUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/xHoV1GWa/",
    "interval": "1h"
  },
  {
    "entry": 0.00403,
    "stop": 0.00458,
    "type": "SHORT",
    "tp1": 0.00348,
    "tp2": 0.0032,
    "tp3": 0.00265,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "EPTUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/oZawhS83/",
    "interval": "1h"
  },
  {
    "entry": 0.01378,
    "stop": 0.01167,
    "type": "LONG",
    "tp1": 0.01589,
    "tp2": 0.0202,
    "tp3": 0.03,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "HOUSEUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/7iU9LGCq/",
    "interval": "1h"
  },
  {
    "entry": 0.01074,
    "stop": 0.01307,
    "type": "SHORT",
    "tp1": 0.00841,
    "tp2": 0.00724,
    "tp3": 0.00491,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "HOUSEUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/btwals37/",
    "interval": "1h"
  },
  {
    "entry": 0.052,
    "stop": 0.0449,
    "type": "LONG",
    "tp1": 0.0591,
    "tp2": 0.0666,
    "tp3": 0.0798,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "MILKUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/iVginroF/",
    "interval": "1h"
  },
  {
    "entry": 0.0437,
    "stop": 0.0495,
    "type": "SHORT",
    "tp1": 0.0379,
    "tp2": 0.035,
    "tp3": 0.0292,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "MILKUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/VYtQRTXF/",
    "interval": "1h"
  },
  {
    "entry": 0.23788,
    "stop": 0.20061,
    "type": "LONG",
    "tp1": 0.27515,
    "tp2": 0.30812,
    "tp3": 0.33198,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "OMUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/Mj6Ccvk6/",
    "interval": "1h"
  },
  {
    "entry": 0.18967,
    "stop": 0.21818,
    "type": "SHORT",
    "tp1": 0.16116,
    "tp2": 0.14691,
    "tp3": 0.11839,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "OMUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/4vIzT4cg/",
    "interval": "1h"
  },
  {
    "entry": 1.1988,
    "stop": 1.0627,
    "type": "LONG",
    "tp1": 1.3349,
    "tp2": 1.5,
    "tp3": 1.60385,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "GRASSUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/U67l7y9X/",
    "interval": "1h"
  },
  {
    "entry": 1.0561,
    "stop": 1.1507,
    "type": "SHORT",
    "tp1": 0.9615,
    "tp2": 0.86,
    "tp3": 0.78,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "GRASSUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/20aZx0sA/",
    "interval": "1h"
  }
]