[
  {
    "entry": 0.5085,
    "stop": 0.4285,
    "side": "LONG",
    "tp1": 0.5899,
    "tp2": 0.6699,
    "tp3": 1,
    "pair": "UXLINKUSDT",
    "no_volume_invalidates_trade": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/rZpeFA4Q/",
    "volume_required": false,
    "tp4": ""
  },
  {
    "entry": 0.3992,
    "stop": 0.4847,
    "side": "SHORT",
    "tp1": 0.3085,
    "tp2": 0.236,
    "tp3": 0.1583,
    "pair": "UXLINKUSDT",
    "no_volume_invalidates_trade": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/rZpeFA4Q/",
    "volume_required": false
  },
  {
    "entry": 0.3557,
    "stop": 0.3386,
    "side": "LONG",
    "tp1": 0.377,
    "tp2": 0.394,
    "tp3": 0.53,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "pair": "HEIUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/BsWz1SpL/"
  },
  {
    "entry": 0.3336,
    "stop": 0.3545,
    "side": "SHORT",
    "tp1": 0.3117,
    "tp2": 0.2733,
    "tp3": 0.2287,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "pair": "HEIUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/BsWz1SpL/"
  },
  {
    "entry": 5.421,
    "stop": 5.117,
    "side": "LONG",
    "tp1": 5.798,
    "tp2": 6.303,
    "tp3": 7.5,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "pair": "ATOMUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://br.tradingview.com/chart/2WdlZ9rM/"
  },
  {
    "entry": 4.573,
    "stop": 4.952,
    "side": "SHORT",
    "tp1": 4.185,
    "tp2": 3.956,
    "tp3": 3.389,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "pair": "ATOMUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://br.tradingview.com/chart/2WdlZ9rM/"
  },
  {
    "entry": 0.7669,
    "stop": 0.6979,
    "side": "LONG",
    "tp1": 0.8331,
    "tp2": 0.9573,
    "tp3": 1.04,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "pair": "BNTUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://br.tradingview.com/chart/2WdlZ9rM/"
  },
  {
    "entry": 0.6768,
    "stop": 0.7163,
    "side": "SHORT",
    "tp1": 0.6379,
    "tp2": 0.5607,
    "tp3": 0.3819,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "pair": "BNTUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://br.tradingview.com/chart/2WdlZ9rM/"
  },
  {
    "entry": 0.1345,
    "stop": 0.1101,
    "side": "LONG",
    "tp1": 0.1654,
    "tp2": 0.2539,
    "tp3": 0.5047,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "pair": "ELXUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/KCki0TiJ/"
  },
  {
    "entry": 0.1081,
    "stop": 0.1237,
    "side": "SHORT",
    "tp1": 0.0948,
    "tp2": 0.0817,
    "tp3": null,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "pair": "ELXUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/KCki0TiJ/"
  },
  {
    "entry": 0.17984,
    "stop": 0.15304,
    "side": "LONG",
    "tp1": 0.21052,
    "tp2": 0.23624,
    "tp3": 0.27769,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "pair": "OBOLUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/M1SW8tNA/"
  },
  {
    "entry": 0.14543,
    "stop": 0.16285,
    "side": "SHORT",
    "tp1": 0.12979,
    "tp2": 0.1216,
    "tp3": 0.11209,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "pair": "OBOLUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/M1SW8tNA/"
  },
  {
    "entry": 0.02824,
    "stop": 0.02624,
    "side": "LONG",
    "tp1": 0.0304,
    "tp2": 0.03542,
    "tp3": 0.04915,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "pair": "TUTUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/57XEd2Au/"
  },
  {
    "entry": 0.02418,
    "stop": 0.02742,
    "side": "SHORT",
    "tp1": 0.0213,
    "tp2": 0.01817,
    "tp3": 0.01543,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "pair": "TUTUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/TsACXpAK/"
  }
]