[
  {
    "entry": 0.5085,
    "stop": 0.4285,
    "type": "LONG",
    "tp1": 0.5899,
    "tp2": 0.6699,
    "tp3": 1,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "UXLINKUSDT",
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/rZpeFA4Q/",
    "volume_required": false,
    "interval": "1h"
  },
  {
    "entry": 0.3992,
    "stop": 0.4847,
    "type": "SHORT",
    "tp1": 0.3085,
    "tp2": 0.236,
    "tp3": 0.1583,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "UXLINKUSDT",
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/rZpeFA4Q/",
    "volume_required": false,
    "interval": "1h"
  },
  {
    "entry": 0.3557,
    "stop": 0.3386,
    "type": "LONG",
    "tp1": 0.377,
    "tp2": 0.394,
    "tp3": 0.53,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "HEIUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/BsWz1SpL/",
    "interval": "1h"
  },
  {
    "entry": 0.3336,
    "stop": 0.3545,
    "type": "SHORT",
    "tp1": 0.3117,
    "tp2": 0.2733,
    "tp3": 0.2287,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "HEIUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/BsWz1SpL/",
    "interval": "1h"
  },
  {
    "entry": 5.421,
    "stop": 5.117,
    "type": "LONG",
    "tp1": 5.798,
    "tp2": 6.303,
    "tp3": 7.5,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "ATOMUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://br.tradingview.com/chart/2WdlZ9rM/",
    "interval": "1h"
  },
  {
    "entry": 4.573,
    "stop": 4.952,
    "type": "SHORT",
    "tp1": 4.185,
    "tp2": 3.956,
    "tp3": 3.389,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "ATOMUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://br.tradingview.com/chart/2WdlZ9rM/",
    "interval": "1h"
  },
  {
    "entry": 0.7669,
    "stop": 0.6979,
    "type": "LONG",
    "tp1": 0.8331,
    "tp2": 0.9573,
    "tp3": 1.04,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "BNTUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://br.tradingview.com/chart/2WdlZ9rM/",
    "interval": "1h"
  },
  {
    "entry": 0.6768,
    "stop": 0.7163,
    "type": "SHORT",
    "tp1": 0.6379,
    "tp2": 0.5607,
    "tp3": 0.3819,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "BNTUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://br.tradingview.com/chart/2WdlZ9rM/",
    "interval": "1h"
  },
  {
    "entry": 0.1345,
    "stop": 0.1101,
    "type": "LONG",
    "tp1": 0.1654,
    "tp2": 0.2539,
    "tp3": 0.5047,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "ELXUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/KCki0TiJ/",
    "interval": "1h"
  },
  {
    "entry": 0.1081,
    "stop": 0.1237,
    "type": "SHORT",
    "tp1": 0.0948,
    "tp2": 0.0817,
    "tp3": null,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "ELXUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/KCki0TiJ/",
    "interval": "1h"
  },
  {
    "entry": 0.17984,
    "stop": 0.15304,
    "type": "LONG",
    "tp1": 0.21152,
    "tp2": 0.23624,
    "tp3": 0.27769,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "OBOLUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/M1SW8tNA/",
    "interval": "1h"
  },
  {
    "entry": 0.14543,
    "stop": 0.16285,
    "type": "SHORT",
    "tp1": 0.1295,
    "tp2": 0.1216,
    "tp3": 0.11209,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "OBOLUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/M1SW8tNA/",
    "interval": "1h"
  },
  {
    "entry": 0.02824,
    "stop": 0.02624,
    "type": "LONG",
    "tp1": 0.0304,
    "tp2": 0.03542,
    "tp3": 0.04915,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "TUTUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/57XEd2Au/",
    "interval": "1h"
  },
  {
    "entry": 0.02418,
    "stop": 0.02742,
    "type": "SHORT",
    "tp1": 0.0213,
    "tp2": 0.01817,
    "tp3": 0.01543,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "TUTUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/TsACXpAK/",
    "interval": "1h"
  },
  {
    "entry": 0.029,
    "stop": 0.02596,
    "type": "LONG",
    "tp1": 0.03336,
    "tp2": 0.052,
    "tp3": 0.068,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "PRAIUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/eu5TbYml/",
    "interval": "1h"
  },
  {
    "entry": 0.02491,
    "stop": 0.02782,
    "type": "SHORT",
    "tp1": 0.02183,
    "tp2": 0.01877,
    "tp3": 0.01729,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "PRAIUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/UvNNnIYD/",
    "interval": "1h"
  },
  {
    "entry": 0.0922,
    "stop": 0.0852,
    "type": "LONG",
    "tp1": 0.0999,
    "tp2": 0.1111,
    "tp3": 0.1217,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "HIFIUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/hXpIxrro/",
    "interval": "1h"
  },
  {
    "entry": 0.085,
    "stop": 0.0917,
    "type": "SHORT",
    "tp1": 0.0783,
    "tp2": 0.0742,
    "tp3": 0.0716,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "HIFIUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/8W7z3k5X/",
    "interval": "1h"
  },
  {
    "entry": 0.7513,
    "stop": 0.6454,
    "type": "LONG",
    "tp1": 0.88,
    "tp2": 1.08,
    "tp3": 1.41,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "AVAUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/iiNrqALo/",
    "interval": "1h"
  },
  {
    "entry": 0.6435,
    "stop": 0.688,
    "type": "SHORT",
    "tp1": 0.5922,
    "tp2": 0.4948,
    "tp3": 0.4222,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "AVAUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/45bOG5uV/",
    "interval": "1h"
  },
  {
    "entry": 5.93,
    "stop": 5.572,
    "type": "LONG",
    "tp1": 6.33,
    "tp2": 6.99,
    "tp3": 8.297,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "PROMUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/il5Nfu7R/",
    "interval": "1h"
  },
  {
    "entry": 5.263,
    "stop": 5.7,
    "type": "SHORT",
    "tp1": 4.835,
    "tp2": 4.426,
    "tp3": 3.33,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "PROMUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/7C4fCI7e/",
    "interval": "1h"
  },
  {
    "entry": 13.806,
    "stop": 12.791,
    "type": "LONG",
    "tp1": 14.954,
    "tp2": 19.1,
    "tp3": 36,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "TRUMPUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/WjHvT685/",
    "interval": "1h"
  },
  {
    "entry": 12.091,
    "stop": 13.397,
    "type": "SHORT",
    "tp1": 10.85,
    "tp2": 8.54,
    "tp3": 7.23,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "TRUMPUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/YKpPbosI/",
    "interval": "1h"
  },
  {
    "entry": 0.1912,
    "stop": 0.1709,
    "type": "LONG",
    "tp1": 0.2152,
    "tp2": 0.245,
    "tp3": 0.4077,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "KERNELUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/RvweB9rT/",
    "interval": "1h"
  },
  {
    "entry": 0.1618,
    "stop": 0.1765,
    "type": "SHORT",
    "tp1": 0.1478,
    "tp2": 0.1351,
    "tp3": 0.1304,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "KERNELUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/VLEGMPqW/",
    "interval": "1h"
  },
  {
    "entry": 0.4173,
    "stop": 0.3937,
    "type": "LONG",
    "tp1": 0.446,
    "tp2": 0.4766,
    "tp3": 0.6,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "CTKUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/SVpSF4E1/",
    "interval": "1h"
  },
  {
    "entry": 0.3738,
    "stop": 0.4006,
    "type": "SHORT",
    "tp1": 0.3459,
    "tp2": 0.3347,
    "tp3": 0.2709,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "CTKUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/t8ViHUTp/",
    "interval": "1h"
  },
  {
    "entry": 0.00633,
    "stop": 0.0056,
    "type": "LONG",
    "tp1": 0.0071,
    "tp2": 0.0082,
    "tp3": 0.0094,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "DARKUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/8V1iVV7w/",
    "interval": "1h"
  },
  {
    "entry": 0.00555,
    "stop": 0.006,
    "type": "SHORT",
    "tp1": 0.0049,
    "tp2": 0.0043,
    "tp3": null,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "DARKUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/8V1iVV7w/",
    "interval": "1h"
  },
  {
    "entry": 0.12438,
    "stop": 0.11724,
    "type": "LONG",
    "tp1": 0.13237,
    "tp2": 0.1377,
    "tp3": 0.1553,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "FISUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/baLqleOx/",
    "interval": "1h"
  },
  {
    "entry": 0.1146,
    "stop": 0.11962,
    "type": "SHORT",
    "tp1": 0.1089,
    "tp2": 0.106,
    "tp3": null,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "FISUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/8EylY7Dt/",
    "interval": "1h"
  },
  {
    "entry": 0.60331,
    "stop": 0.57729,
    "type": "LONG",
    "tp1": 0.6315,
    "tp2": 0.6615,
    "tp3": 0.702,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "AUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/8tEkN1IW/",
    "interval": "1h"
  },
  {
    "entry": 0.57274,
    "stop": 0.60273,
    "type": "SHORT",
    "tp1": 0.5504,
    "tp2": 0.5201,
    "tp3": null,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "AUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/ruFaGzNa/",
    "interval": "1h"
  },
  {
    "entry": 0.04071,
    "stop": 0.04069,
    "type": "LONG",
    "tp1": 0.04622,
    "tp2": 0.0522,
    "tp3": 0.0739,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "DUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/FmxbL3mJ/",
    "interval": "1h"
  },
  {
    "entry": 0.04071,
    "stop": 0.04296,
    "type": "SHORT",
    "tp1": 0.03839,
    "tp2": 0.03523,
    "tp3": null,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "DUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/xvu65nkS/",
    "interval": "1h"
  },
  {
    "entry": 0.0243,
    "stop": 0.0219,
    "type": "LONG",
    "tp1": 0.0269,
    "tp2": 0.0293,
    "tp3": 0.0334,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "GPSUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/epRep6OI/",
    "interval": "1h"
  },
  {
    "entry": 0.0192,
    "stop": 0.0213,
    "type": "SHORT",
    "tp1": 0.0172,
    "tp2": 0.0165,
    "tp3": 0.0152,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "GPSUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/Q0VTi9Ij/",
    "interval": "1h"
  },
  {
    "entry": 0.01454,
    "stop": 0.01369,
    "type": "LONG",
    "tp1": 0.01549,
    "tp2": 0.019,
    "tp3": 0.0226,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "DBRUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/ds4egzXu/",
    "interval": "1h"
  },
  {
    "entry": 0.01339,
    "stop": 0.01437,
    "type": "SHORT",
    "tp1": 0.01239,
    "tp2": 0.01154,
    "tp3": 0.0111,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "DBRUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/9Fd7rXbz/",
    "interval": "1h"
  },
  {
    "entry": 0.006799,
    "stop": 0.006169,
    "type": "LONG",
    "tp1": 0.007568,
    "tp2": 0.008953,
    "tp3": 0.02517,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "BEAMUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/Vu1Z0TXo/",
    "interval": "1h"
  },
  {
    "entry": 0.006081,
    "stop": 0.006734,
    "type": "SHORT",
    "tp1": 0.005444,
    "tp2": 0.004865,
    "tp3": null,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "BEAMUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/Vu1Z0TXo/",
    "interval": "1h"
  },
  {
    "entry": 12.436,
    "stop": 11.347,
    "type": "LONG",
    "tp1": 13.683,
    "tp2": 15.59,
    "tp3": 43.44,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "AUCTIONUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/jJSn1SDa/",
    "interval": "1h"
  },
  {
    "entry": 11.258,
    "stop": 11.682,
    "type": "SHORT",
    "tp1": 10.763,
    "tp2": 10.315,
    "tp3": 9.13,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "AUCTIONUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/jJSn1SDa/",
    "interval": "1h"
  },
  {
    "entry": 0.1128,
    "stop": 0.1032,
    "type": "LONG",
    "tp1": 0.1238,
    "tp2": 0.1421,
    "tp3": 0.1836,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "KAIAUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/XT2F4t4D/",
    "interval": "1h"
  },
  {
    "entry": 0.0973,
    "stop": 0.1107,
    "type": "SHORT",
    "tp1": 0.085,
    "tp2": 0.0775,
    "tp3": null,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "KAIAUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/XT2F4t4D/",
    "interval": "1h"
  },
  {
    "entry": 23.621,
    "stop": 18.044,
    "type": "LONG",
    "tp1": 31.08,
    "tp2": 40.977,
    "tp3": 53.26,
    "tp4": null,
    "tp5": null,
    "tp6": null,
    "symbol": "AVAXUSDT",
    "volume_required": false,
    "volume_adds_margin": false,
    "setup_description": "m_analises",
    "url_analysis": "https://www.tradingview.com/x/W9ooutOl/",
    "interval": "1h"
  }
]